@import "@material/button/mdc-button";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/card/mdc-card";
@import "@material/image-list/mdc-image-list";
@import "@material/layout-grid/mdc-layout-grid";
.my-card-content {
    padding: 16px;
}
.my-card {
    height: 350px;
    width: 350px;
}
.mdc-card{
    width: 90%;
}
body{
    padding-top: 0%;
    margin: 0;
    height: 100vh;
}
#particles-js{
    height: 100%;
    padding-top: 15%; 
    background: #262626;
}
main {
    scroll-behavior: smooth;
  }

@media only screen and (min-width:500px){
    .mdc-card{
        width: 50%;
    }
    #particles-js{
        padding: 5%;
    }
}
